body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  h2 {
    text-align: center;
    margin: 40px 0;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 70px auto;
    display: block;
  }

  label {
    /* display: block; */
    margin-bottom: 18px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
  }

  input#yes, input#no {
    display: inline-block;
  }

  form div div {
    display: inline-block;
    width: 49.5%;
  }

  select option {
    margin: 10px auto;
    border-radius: 3px;
  }

  button[type=button] {
    color: #3498db;
    background-color: #fff;
    padding: 10px;
    border: solid #3498db;
    border-radius: 4px;
    cursor: pointer;
    width: 49.5%;
    margin: 0 auto;
    font-size: 20px;
  } 

  button[type=button].selected {
    background-color: #3498db; 
    color: #fff;
    padding: 10px;
    border: solid #3498db;
    border-radius: 4px;
    cursor: pointer;
    width: 49.5%;
    margin: 0 auto;
    font-size: 20px;
  }

  button[type=submit] {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
  }

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  .shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
    
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #3498db; /* Μπλε */
    color: #fff; /* Λευκό */
    text-align: center;
    padding: 1.8%;
    height: 50px;
  }

  nav {
    background-color: #2980b9; /* Σκούρο μπλε */
    color: #fff; /* Λευκό */
    padding: 1.6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
  }
  a.a_b {
    padding: 25% 3%;
  }

  nav li a:hover {
    text-shadow: 4px 4px 4px rgba(182, 182, 182, 0.5);
  }
  
  nav li:hover p {
    display: block; /* Εμφανίστε τις παραγράφους όταν το li είναι σε κατάσταση hover */
  }

  .dropdown-content {
    display: none;
    width: 220px;
    position: absolute;
    top: 30px;
    right: -60px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  nav ul:nth-child(2):hover::after {
    content: '\2193'; /* Κώδικας Unicode για το βελάκι προς τα κάτω */
    display: inline-block;
    margin-left: 5px; /* Προσαρμόστε το περιθώριο σύμφωνα με τις ανάγκες σας */
    transition: transform 0.3s ease;
    transform: rotate(180deg); /* Εφέ μετάβασης για τον περιστροφή */
  }
  
  nav li:hover .dropdown-content {
      display: block;
      width: 220px;
      position: absolute;
      top: 25px;
      right: -65px;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      transition: transform 0.8s ease;
  }

  nav li:hover .dropdown-content a:nth-child(1) {
    padding-right: 16px;
  }

  nav li:hover .dropdown-content a:nth-child(2) {
    padding-right: 19px;
  }

  nav li:hover .dropdown-content a:nth-child(3) {
    padding-right: 49.9px;
  }
  nav li:hover .dropdown-content a:nth-child(4) {
    padding-right: 59px;
  }
  a.d_content {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    display: inline-block;
  }

  a.d_content:hover {
    background-color: #ccc;
  }

  .nav-item:hover .dropdown-content {
    display: block;
  }  

  .dropdown-content p {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {
    background-color: #ddd;
  }  
    
  nav a {
    text-decoration: none;
    color: #fff; /* Λευκό */
    font-weight: bold;
    font-size: 20px;
  }