body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Ανοικτό ασπρό */
    color: #333; /* Σκούρο γκρι */
    transition: background-color 0.5s ease; /* Προσθήκη μεταβάσεων για το χρώμα του φόντου */
  }
    
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  header {
    background-color: #3498db; /* Μπλε */
    color: #fff; /* Λευκό */
    text-align: center;
    padding: 1.8%;
    height: 50px;
  }

  h1 {
    margin: 0;
  }

  nav {
    background-color: #2980b9; /* Σκούρο μπλε */
    color: #fff; /* Λευκό */
    padding: 1.6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
  }
  a.a_b {
    padding: 25% 3%;
    transition: transform 0.3s ease-out;
    transform: translateY(0);
  }

  nav li a.a_b:hover {
    text-shadow: 4px 4px 4px rgba(182, 182, 182, 0.5);
    transform: translateY(-5px); /* Αλλάξτε την τιμή ανάλογα με την επιθυμητή μετατόπιση */
  }

  nav li li:hover {
    transform: translateY(-140px);
  }
  
  nav li:hover p {
    display: block; /* Εμφανίστε τις παραγράφους όταν το li είναι σε κατάσταση hover */
  }

  .dropdown-content {
    display: none;
    width: 220px;
    position: absolute;
    top: 30px;
    right: -60px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  nav ul:nth-child(2):hover::after {
    content: '\2193'; 
    display: inline-block;
    margin-left: 5px; 
    transition: transform 0.3s ease;
    transform: rotate(180deg); 
  }
  
  nav li:hover .dropdown-content {
      display: block;
      width: 220px;
      position: absolute;
      top: 25px;
      right: -65px;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      transition: transform 0.8s ease;
  }

  nav li:hover .dropdown-content a:nth-child(1) {
    padding-right: 16px;
  }

  nav li:hover .dropdown-content a:nth-child(2) {
    padding-right: 19px;
  }

  nav li:hover .dropdown-content a:nth-child(3) {
    padding-right: 49.9px;
  }
  nav li:hover .dropdown-content a:nth-child(4) {
    padding-right: 59px;
  }
  a.d_content {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    display: inline-block;
  }

  a.d_content:hover {
    background-color: #ccc;
  }

  .nav-item:hover .dropdown-content {
    display: block;
  }  

  .dropdown-content p {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {
    background-color: #ddd;
  }  
    
  nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 20px;
  }
  
  section h2 {
    color: #3498db;
  }
  
  section p {
    color: #333;
  }

  footer {
    background-color: #34495e; /* Μπλε-Γκρι */
    color: #fff; /* Λευκό */
    text-align: left;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: auto ;
  }
  
  footer p {
    text-align: right;
    margin: 10px 0 0 0;
  }

  footer div :first-child {
    margin-top: 20px;
  }

  footer div p :last-child {
    margin: 0;
  }

  /* Στυλ για τα στοιχεία επικοινωνίας */
  .contact-info {
    margin-top: 10px;
  }
  
  .contact-info div p {
    margin: 5px 0;
    display: inline-block;
  }

  .contact-info div img {
    display: inline-block;
    max-width: 20px;
    position: relative;
    top: 4px;
    margin: 0;
  }

  .social-icons a {
    display: inline-block;
    margin: 0 10px
  }