/* styles.css */
/* hover  */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Ανοικτό ασπρό */
    color: #333; /* Σκούρο γκρι */
    transition: background-color 0.5s ease; /* Προσθήκη μεταβάσεων για το χρώμα του φόντου */
  }

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  .shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
    
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #3498db; /* Μπλε */
    color: #fff; /* Λευκό */
    text-align: center;
    padding: 1.8%;
    height: 50px;
  }

  nav {
    background-color: #2980b9; /* Σκούρο μπλε */
    color: #fff; /* Λευκό */
    padding: 1.6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
  }
  a.a_b {
    padding: 25% 3%;
  }

  nav li a:hover {
    text-shadow: 4px 4px 4px rgba(182, 182, 182, 0.5);
  }
  
  nav li:hover p {
    display: block; /* Εμφανίστε τις παραγράφους όταν το li είναι σε κατάσταση hover */
  }

  .dropdown-content {
    display: none;
    width: 220px;
    position: absolute;
    top: 30px;
    right: -60px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  nav ul:nth-child(2):hover::after {
    content: '\2193'; /* Κώδικας Unicode για το βελάκι προς τα κάτω */
    display: inline-block;
    margin-left: 5px; /* Προσαρμόστε το περιθώριο σύμφωνα με τις ανάγκες σας */
    transition: transform 0.3s ease;
    transform: rotate(180deg); /* Εφέ μετάβασης για τον περιστροφή */
  }
  
  nav li:hover .dropdown-content {
      display: block;
      width: 220px;
      position: absolute;
      top: 25px;
      right: -65px;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      transition: transform 0.8s ease;
  }

  nav li:hover .dropdown-content a:nth-child(1) {
    padding-right: 16px;
  }

  nav li:hover .dropdown-content a:nth-child(2) {
    padding-right: 19px;
  }

  nav li:hover .dropdown-content a:nth-child(3) {
    padding-right: 49.9px;
  }
  nav li:hover .dropdown-content a:nth-child(4) {
    padding-right: 59px;
  }
  a.d_content {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    display: inline-block;
  }

  a.d_content:hover {
    background-color: #ccc;
  }

  .nav-item:hover .dropdown-content {
    display: block;
  }  

  .dropdown-content p {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {
    background-color: #ddd;
  }  
    
  nav a {
    text-decoration: none;
    color: #fff; /* Λευκό */
    font-weight: bold;
    font-size: 20px;
  }

  main {
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 60px;
  }

  section {
    margin-top: 20px;
    background-color: #fff; /* Λευκό */
    padding: 20px;
    border-radius: 8px; /* Για γωνίες */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Σκιά */
    /* display: grid;
    place-items: center;
    align-content: center; */
  }
  
  section h2 {
    color: #3498db; /* Μπλε */
  }
  
  section p {
    color: #333; /* Σκούρο γκρι */
  }

  #about-us {
    background-color: #3498db; /* Μπλε */
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    /* background-image: url('assets/scott-graham-5fNmWej4tAA-unsplash.jpg'); */
    background-size: cover;
    background-position: center;
  }

  .about-us .content {
    padding: 50px;
  }
  
  #about-us h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  #about-us p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
  }

  h3 {
    margin: 0;
  }
  
  h1 {
    margin: 0;
  }

  hr {
    position: relative;
    right: 35px;
    width: 95%;
    margin: 40px auto;
    border-style: solid;
  }

  .insurance-details {
    position: relative;
    padding: 20px 0 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  
  .insurance-details p {
    width: 90%;
  }
  .insurance-details img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Τοποθετούμε τη φωτογραφία κάτω από το κείμενο */
    opacity: 1;
  }

  .insurance-details a {
    text-decoration: underline;
    color: #161616;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Σκούρο γκρι */
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Ανοικτό γκρι */
    border-radius: 4px;
    resize: none;
  }
  
  button {
    background-color: #3498db; /* Μπλε */
    color: #fff; /* Λευκό */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9; /* Σκούρο μπλε */
  }
  
  footer {
    background-color: #34495e; /* Μπλε-Γκρι */
    color: #fff; /* Λευκό */
    text-align: left;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: auto ;
  }
  
  footer p {
    text-align: right;
    margin: 10px 0 0 0;
  }

  footer div :first-child {
    margin-top: 20px;
  }

  footer div p :last-child {
    margin: 0;
  }

  /* Στυλ για τα στοιχεία επικοινωνίας */
  .contact-info {
    margin-top: 10px;
  }
  
  .contact-info div p {
    margin: 5px 0;
    display: inline-block;
  }

  .contact-info div img {
    display: inline-block;
    max-width: 20px;
    position: relative;
    top: 4px;
    margin: 0;
  }

  .social-icons a {
    display: inline-block;
    margin: 0 10px
  }

  .gmap_canvas{
    overflow:hidden;
    height:400px;
    width: 850px;
  }
  .gmap_canvas iframe{
    position:relative;
    display: flex;
    z-index:2;
  }

  .mapouter{
    position:relative;
    height:400px;
    width: 810px;
    background:#fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 

  .maprouter a{
    color:#fff !important;
    position:absolute !important;
    top:0 !important;
    z-index:0 !important;
  }

  @media only screen and (min-width: 1024px) {

    main {
      max-width: 850px;
    }

    section {
      margin-top: 30px;
    }

    .insurance-details p {
      width: 70%;
    }
  }

  /* Tablets έχουν συνήθως οθόνη περίπου 768px πλάτος και πάνω */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {

    main {
      max-width: 768px;
    }

    .insurance-details p {
      width: 80%;
    }
  }

  /* Κινητά έχουν συνήθως οθόνη περίπου 480px πλάτος και πάνω */
  @media only screen and (max-width: 700px) {
    nav {
      /* padding: 1.6%; */
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    header {
      height: auto;
      padding: 2%;
    }

    main {
      max-width: 100%;
    }

    .insurance-details p {
      width: 100%;
    }

    footer p {
      max-width: 100%;
    }

    .mapouter, .gmap_canvas iframe {
      display: none;
    }
  }