/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Ανοικτό ασπρό */
    color: #333; /* Σκούρο γκρι */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #3498db; /* Μπλε */
    color: #fff; /* Λευκό */
    text-align: center;
    padding: 1.8%;
    height: 50px;
  }

  nav {
    background-color: #2980b9; /* Σκούρο μπλε */
    color: #fff; /* Λευκό */
    padding: 1.6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff; /* Λευκό */
    font-weight: bold;
    font-size: 20px;
  }

  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 60px;
  }

  section {
    margin-top: 20px;
    background-color: #fff; /* Λευκό */
    padding: 20px;
    border-radius: 8px; /* Για γωνίες */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Σκιά */
  }
  
  section h2 {
    color: #3498db; /* Μπλε */
  }
  
  section p {
    color: #333; /* Σκούρο γκρι */
  }

  #about-us {
    background-color: #3498db; /* Μπλε */
    color: #fff; /* Λευκό */
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  #about-us h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
  }
  
  #about-us p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
  }
  
  h1 {
    margin: 0;
  }

  .insurance-details {
    position: relative;
    /* padding-bottom: 70px; */
  }
  
  .insurance-details p {
    width: 90%;
  }
  .insurance-details img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Τοποθετούμε τη φωτογραφία κάτω από το κείμενο */
    opacity: 0.7;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Σκούρο γκρι */
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Ανοικτό γκρι */
    border-radius: 4px;
    resize: none;
  }
  
  button {
    background-color: #3498db; /* Μπλε */
    color: #fff; /* Λευκό */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9; /* Σκούρο μπλε */
  }
  
  footer {
    background-color: #34495e; /* Μπλε-Γκρι */
    color: #fff; /* Λευκό */
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: auto ;
  }
  
  /* Στυλ για τα στοιχεία επικοινωνίας */
  .contact-info {
    margin-top: 10px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }

  .gmap_canvas{
    overflow:hidden;
    height:400px;
    width:810px
  }
  .gmap_canvas iframe{
    position:relative;
    display: flex;

    z-index:2
  }

  .mapouter{
    position:relative;
    height:400px;
    width:810px;
    background:#fff;
    display: flex;
  } 

  .maprouter a{
    color:#fff !important;
    position:absolute !important;
    top:0 !important;
    z-index:0 !important;}